/*** color*/

$white: hsl(0, 0%, 100%);

/** * typography*/

$fs-base: 0.85rem;
$fs-1: 1.875rem;
$fs-2: 1.5rem;
$fs-3: 1.25rem;
$fs-4: 0.875rem;
$fs-5: 0.75rem;

/** * spacing */

$py: 5rem;
