*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
button {
  display: block;
}

a,
span {
  display: inline-block;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

html {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-base); /* base font-size (0.85rem = 13.6px) */
  line-height: 1.8;
}

:focus {
  outline-offset: 4px;
}

/**
 * scrollbar style
 */

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
  border: 4px solid;
}

.light-theme::-webkit-scrollbar-thumb {
  border-color: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-thumb {
  border-color: hsl(219, 27%, 20%);
}

.light-theme::-webkit-scrollbar-track {
  background: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-track {
  background: hsl(219, 27%, 20%);
}

/*-----------------------------------*\ 
  #BASE STYLE
\*-----------------------------------*/

.h1,
.h2,
.h3,
.h4 {
  display: block;
  color: var(--foreground-primary);
}

.h1 {
  font-size: var(--fs-1);
  font-weight: 900;
}

.h2 {
  font-size: var(--fs-2);
  font-weight: 700;
}

.h3 {
  font-size: var(--fs-3);
  font-weight: 700;
}

.h4 {
  font-size: var(--fs-4);
  font-weight: 700;
}

.text-sm {
  font-size: var(--fs-4);
}

.text-tiny {
  font-size: var(--fs-5);
}

/*Extra style for dark theme*/
.dark-theme .btn-primary:hover {
  color: var(--background-primary);
}

.dark-theme .blog-topic {
  background: var(--action-primary);
  color: var(--foreground-secondary);
}

.dark-theme .blog-topic:hover {
  background: var(--foreground-primary);
  color: var(--action-primary);
}

.dark-theme .load-more:hover {
  color: var(--white);
}

.dark-theme .aside .h2 {
  color: var(--foreground-primary);
}
