@import "../../../assets/scss/app.scss";

.form {
  width: 600px;
  display: flex;
  border-radius: 5px;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: 0px 3px 6px 1px rgba(236, 235, 235, 0.68);
  -webkit-box-shadow: 0px 3px 6px 1px rgba(236, 235, 235, 0.68);
  -moz-box-shadow: 0px 3px 6px 1px rgba(236, 235, 235, 0.68);
  margin-top: 2rem;
  margin-bottom: 2rem;

  &-group {
    width: 100%;
    .icon {
      width: 80px;
      height: 80px;
      font-size: 4rem;
      margin: 0 auto;
      color: hsl(220, 46%, 46%);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;

      label {
        margin-right: 2rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: rgba(129, 127, 127, 0.933);
      }
    }

    .submit-form {
      .submit {
        width: 100%;
        font-weight: 700;
        font-size: 1.5rem;
        color: $action-primary;
        background-color: $accent;

        &:hover {
          transition: all 0.2s ease-in-out;
          color: $white;
          background: rgb(44, 91, 192);
        }
      }
      .register {
        text-align: center;
        width: 100%;
        font-weight: 700;
        font-size: 1.5rem;
        background: $background-secondary;
        color: rgb(104, 104, 104);

        &:hover {
          transition: all 0.2s ease-in-out;
          background: rgb(218, 216, 216);
          color: #222;
        }
      }
    }

    .login_different {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 50px;

      .login-face {
        width: 200px;
        padding: 1rem 3rem;
        box-shadow: 0px 3px 3px 1px rgba(170, 169, 169, 0.13);
        margin-right: 5px;
        a {
          color: rgba(129, 127, 127, 0.933);
          font-size: 1.1rem;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            margin-right: 5px;
          }

          .icon-f {
            color: $accent;
          }
        }

        &:hover {
          transition: all 0.5s ease;
          cursor: pointer;
          background: $action-secondary;
        }
      }

      .login-google {
        width: 180px;
        box-shadow: 0px 1px 1px 1px rgba(170, 169, 169, 0.13);
        a {
          color: rgba(129, 127, 127, 0.933);
          font-size: 1.1rem;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            margin-right: 5px;
          }
        }

        &:hover {
          transition: all 0.5s ease;
          cursor: pointer;
          background: $action-secondary;
        }
      }
    }
  }
}
